<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <i>Multoque hoc melius nos veriusque quam Stoici.</i> Illi
  enim inter se dissentiunt. Ex ea difficultate illae fallaciloquae, ut ait Accius, malitiae natae sunt. Scaevola
  tribunus plebis ferret ad plebem vellentne de ea re quaeri. Estne, quaeso, inquam, sitienti in bibendo voluptas?
  <code>Restatis igitur vos;</code> </p>

<ul>
  <li>Sed finge non solum callidum eum, qui aliquid improbe faciat, verum etiam praepotentem, ut M.</li>
  <li>An est aliquid per se ipsum flagitiosum, etiamsi nulla comitetur infamia?</li>
  <li>Fatebuntur Stoici haec omnia dicta esse praeclare, neque eam causam Zenoni desciscendi fuisse.</li>
</ul>


<pre>Omnium autem eorum commodorum, quibus non illi plus
tribuunt, qui illa bona esse dicunt, quam Zeno, qui negat,
longe praestantissimum esse, quod honestum esset atque
laudabile.

Hunc igitur finem illi tenuerunt, quodque ego pluribus
verbis, illi brevius secundum naturam vivere, hoc iis
bonorum videbatur extremum.
</pre>


<dl>
  <dt><dfn>Recte dicis;</dfn></dt>
  <dd>Ita ne hoc quidem modo paria peccata sunt.</dd>
  <dt><dfn>Proclivi currit oratio.</dfn></dt>
  <dd>Hoc dixerit potius Ennius: Nimium boni est, cui nihil est mali.</dd>
  <dt><dfn>Bork</dfn></dt>
  <dd>Ostendit pedes et pectus.</dd>
  <dt><dfn>Bork</dfn></dt>
  <dd>Haec mihi videtur delicatior, ut ita dicam, molliorque ratio, quam virtutis vis gravitasque postulat.</dd>
  <dt><dfn>Bork</dfn></dt>
  <dd>Ergo adhuc, quantum equidem intellego, causa non videtur fuisse mutandi nominis.</dd>
  <dt><dfn>Stoici scilicet.</dfn></dt>
  <dd>Theophrasti igitur, inquit, tibi liber ille placet de beata vita?</dd>
</dl>


<blockquote cite="http://loripsum.net">
  Vide ne ista sint Manliana vestra aut maiora etiam, si imperes quod facere non possim.
</blockquote>


<p><a href="http://loripsum.net/" target="_blank">At ille pellit, qui permulcet sensum voluptate.</a> Duo Reges:
  constructio interrete. Non ego tecum iam ita iocabor, ut isdem his de rebus, cum L. Istam voluptatem perpetuam quis
  potest praestare sapienti? Illud non continuo, ut aeque incontentae. Mihi enim erit isdem istis fortasse iam utendum.
  Omnis enim est natura diligens sui. </p>

<ol>
  <li>Qui est in parvis malis.</li>
  <li>Sed eum qui audiebant, quoad poterant, defendebant sententiam suam.</li>
  <li>Ne amores quidem sanctos a sapiente alienos esse arbitrantur.</li>
</ol>


<p>Summum a vobis bonum voluptas dicitur. Esse enim, nisi eris, non potes. Et ais, si una littera commota sit, fore tota
  ut labet disciplina. Sic enim censent, oportunitatis esse beate vivere. Quantum Aristoxeni ingenium consumptum videmus
  in musicis? Hoc ne statuam quidem dicturam pater aiebat, si loqui posset. </p>